@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    box-sizing: border-box;
    font-family: DWFutura, sans-serif;
}

*:focus {
    outline: none;
}

.header {
    margin: 5px 100px 0px 100px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.header-logo {
    color: red;
    font-size: 30px;
}

.header-establish {
    color: blue;
    font-size: 16px;
    display: inline-block;
}

.header-establish .div {
    display: inline-block;
}

.header-establish-element {
    list-style-type: none;
    text-align: center;
}

.header-establish-element li {
    display: inline-block;
    font-size: 16px;
    padding: 15px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

/*  */
.nav {
    height: 55px;
    background-color: #0090da;
    color: white;
    /* margin-bottom: 10px; */
}

.nav a {
    color: white;
    text-decoration: none !important;
}

.element {
    padding: 15px;
    width: 140px;
    text-align: center;
}

.row {
    margin-left: 55px;
}

.element:hover {
    background-color: #0076b9;
    border-radius: 10px;
    cursor: pointer;
}

.cashier {
    padding: 15px;
    /*margin-left: 150px;*/
}

.cashier:hover {
    background-color: #00588b;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    background-color: #0076b9;
    border-radius: 10px;
    cursor: pointer;
}

/*  */
.body {
    background-color: #eeeeee;
    height: 1000px;
    display: flex;
    justify-content: space-between;
}

/* Search */
.search {
    width: 30%;

    margin-left: 10%;
}

.search-name {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 6px 3px #bdc3c7;
    padding: 10px;
}

.search-name-text {
    font-weight: bold;
    font-size: 14px;
}

.search-group {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 6px 3px #bdc3c7;
    padding: 10px;
    height: auto;
}

.search-group-text {
    font-weight: bold;
    font-size: 14px;
}

.search-group a {
    color: #1a202c;
    float: right;
    cursor: pointer;
    padding-right: 5px;
}

/* Table */
.table a {
    color: #1a202c;
    cursor: pointer;
    padding-right: 5px;
}

.table {
    width: 100%;
    margin-right: 5%;
}

.subHeader {
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.mybutton {
    color: white;
    background-color: #44bd32 !important;
    width: 130px;
    padding: 7px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
}

.mybutton:hover {
    background-color: #4BAC4D !important;
}

.subTable {
    margin-top: 10px;
    width: 100%;
    background-color: white;
    height: auto;
}

/* Input */
.input {
    margin-top: 20px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 14px;
}

.input:focus {
    border: 0;
    border-bottom: 2px solid #16a085;
}

.dropdown-menu li {
    padding: 15px;
}

/**/
.detailProduct div {
    padding: 10px;
}

.w-5.h-5 {
    display: none;
}

.changeActive {
    cursor: pointer;
}

.active-style {
    color: white;
    background-color: #4BAC4D !important;
    border-radius: 50px;
    padding: 5px;
    font-style: normal !important;
    box-shadow: 6px 3px 6px #bdc3c7;
}

.inactive-style {
    color: white;
    background-color: #E73A3A !important;
    border-radius: 50px;
    padding: 5px;
    font-style: normal !important;
    box-shadow: 6px 3px 6px #bdc3c7;
}

.order-detail {
    padding: 10px;
}

.order-detail div {
    padding: 10px;
}

.table-order-detail {
    float: right;
    text-align: right;
    width: 50%;
    padding: 10px;
}

.resource_link {
    display: none;
}

.resource:hover .resource_link {
    display: block;
}

/*Home*/
.home-nav {
    background-color: white;
    height: 180px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%
}
.home-nav h5 {
    padding: 20px;
    font-weight: bold;
}

/**/
section .section-title{
    text-align:center;
    color:#0076b9;
    margin-bottom:50px;
    text-transform:uppercase;
}
#what-we-do{
    background:#ffffff;
}
#what-we-do .card{
    padding: 1rem!important;
    border: none;
    margin-bottom:1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#what-we-do .card:hover{
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
    padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
    color: #0076b9 !important;
    font-weight:700;
    text-decoration:none;
}
#what-we-do .card .card-block a i{
    display:none;

}
#what-we-do .card:hover .card-block a i{
    display:inline-block;
    font-weight:700;

}
#what-we-do .card .card-block:before{
    font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #0076b9;
    left: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}
#what-we-do .card:hover .card-block:before{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

.hot_product {
    background-color: white;
    height: auto;
    padding-bottom: 20px;
    margin-top: 20px;
    width: 100%
}
.hot_product h2 {
    text-align: left !important;
    font-size: 25px;
    padding: 10px;
}
