@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap");
:root {
    --primary-color: #007fc1;
    --white-color: #fff;
    --grey-color: grey;
    --black-color: black;
    --light-grey-color: rgb(219, 219, 219);
    --height: 540px;
}

* {
    outline: none;
}

button:focus {
    outline: none;
}

img {
    max-width: 100%;
}

.cashier {
    background-color: var(--primary-color);
    padding: 0.4rem 2rem;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.active {
    background-color: var(--white-color) !important;
    color: var(--primary-color) !important;
}

.active-table {
    color: var(--primary-color);
}

.header__list {
    padding-left: 50px;
    height: 37px;
}

.header__item {
    display: inline-block;
    background-color: var(--primary-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__item-form {
    margin-left: 20px;
}

.header__link {
    color: var(--white-color);
    padding: 0.6rem 1.2rem;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto";
    letter-spacing: normal;
}

.header__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__input {
    position: relative;
    display: block;
    width: 100%;
    padding: 0.57rem 1.2rem;
    font-size: 16px;
    color: black;
    background-color: var(--white-color);
    border: none;
    border-radius: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    outline: none;
    bottom: 3px;
}

.wrap__filter {
    border-bottom: 1px solid var(--light-grey-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrap__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    margin-left: 24px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.wrap__link{
    font-family: Roboto;

}
.wrap__item {
    margin-right: 10px;
    line-height: 36px;
}

.wrap__group {
    margin-right: 24px;
}

.wrap__input {
    padding: 0 0.6rem;
}

.tables {
    color: black;
    background-color: var(--white-color);
    min-height: var(--height);
    border-radius: 20px;
    overflow: hidden;
}

.tables__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.tables__list div {
    margin: 5px;
}

.tables__item {
    text-align: center;
    color: var(--grey-color);
    margin: 10px 16px;
    padding: 1rem 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

.tables__icon {
    font-size: 4rem;
}

.tables__content {
    margin-top: 0.5rem;
    font-family: Roboto;
}

.tables__active {
    color: var(--primary-color);
}

.tables__focus {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.category__filter {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid var(--light-grey-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 37px;
}

.category__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.category__link {
    font-family: Roboto;
}
.product__name {
    font-family: Roboto;
}
.category__item {
    margin: 5px;
}

.category__input {
    padding: 0 0.6rem;
}

.product {
    color: black;
    background-color: var(--white-color);
    height: var(--height);
    border-radius: 20px;
    overflow: auto;
}

.product__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 1rem;
}

.product__item {
    text-align: center;
    color: var(--grey-color);
    margin-right: 8px;
    border: 1px solid var(--grey-color);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.product__item:hover {
    -webkit-box-shadow: 0px 1px 7px 1px grey;
    box-shadow: 0px 1px 7px 1px grey;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.product__img {
    width: 120px;
    margin: 0.5rem 0;
}

.product__name {
    color: black;
}

.product__price {
    color: var(--primary-color);
    margin: 0.5rem 0;
}

.product__active {
    color: var(--primary-color);
}

.product__focus {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 37px;
}

.header__left__list {
    padding-left: 50px;
    height: 37px;
}

.header__left__item {
    display: inline-block;
    background-color: var(--primary-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__left__item-form {
    margin-left: 20px;
}

.header__left__link {
    color: var(--white-color);
    padding: 0.6rem 1.2rem;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto";
    letter-spacing: normal;
    height: 37px;
}

.action__item {
    display: inline-block;
}

.action__icon {
    color: var(--light-grey-color);
}

.nav__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 37px;
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: black;
    margin-left: 24px;
}
.nav__link {
    font-family: Roboto;
}
.nav__item {
    margin-right: 10px;
    line-height: 36px;
}

.nav__group {
    margin-right: 24px;
}

.nav__input {
    padding: 0 0.6rem;
}

.cart {
    height: var(--height);
}

.cart__list {
    padding: 1rem 0;
    height: 400px;
    overflow-y: scroll;
}

.cart__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 66px;
    padding: 0 1rem;
    margin-bottom: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.cart__item:hover {
    -webkit-box-shadow: 1px 1px 2px 2px var(--grey-color);
    box-shadow: 1px 1px 2px 2px var(--grey-color);
}

.cart__item:hover .cart__decrease {
    display: block;
    opacity: 1;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.cart__item:hover .cart__increase {
    display: block;
    opacity: 1;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.cart__name {
    width: 150px;
    color: var(--black-color);
    font-family: Roboto;
}

.cart__price {
    color: var(--black-color);
}

.cart__total {
    color: var(--black-color);
    font-weight: bold;
}

.cart__form {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cart__decrease {
    border: none;
    background-color: #cecbcb;
    color: var(--white-color);
    display: none;
    opacity: 0;
    height: 25px;
    width: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.cart__decrease:hover {
    background-color: var(--grey-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.cart__increase {
    border: none;
    background-color: #cecbcb;
    color: var(--white-color);
    height: 25px;
    width: 25px;
    display: none;
    opacity: 0;
}

.cart__increase:hover {
    background-color: var(--grey-color);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.cart__input {
    height: 25px;
    width: 30px;
    border: none;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid var(--light-grey-color);
}

.cart__icon {
    cursor: pointer;
    color: var(--grey-color);
}
.cart__status{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bill {
    height: 130px;
}

.bill__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    height: 50px;
    margin-right: 20px;
    font-size: 20px;
}

.bill__item {
    margin-right: 10px;
}

.bill__quantity {
    border: 1px solid var(--light-grey-color);
    padding: 4px 16px;
    border-radius: 20px;
    color: #000;
}

.bill__text {
    font-size: 24px;
    color: var(--black-color);
    font-weight: 400;
}

.bill__total {
    color: var(--black-color);
    font-size: 24px;
    font-weight: 400;
}

.bill__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.bill__pay {
    width: 100%;
    height: 55px;
    border: none;
    display: block;
    padding: 0;
    background-color: #57ad52;
    color: white;
    font-weight: bold;
    font-size: 16px;
    white-space: normal;
}
/*Payment*/
.payment__main{
    display: flex;
}
.payment__content {
    width: 70%;
    right: -30%;
    top: 0;
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.payment__list{
    display: flex;
    flex-direction: column;
}
.payment__item{
    display: flex;
    margin-bottom: 12px;
    justify-content: normal;
}
.payment__item div {
    width: 25%;
}
.left__payment-header {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 12px;
}
.payment__item-total{
    font-weight: bold;
}
.right__payment-item{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.right__payment-item label{
    width: 50%;
}
.right__payment-item span{
    width: 50%;
}

#sub_total,#excess{
    font-size: 1.2rem;
    font-weight: bold;
}
#total{
    color: #0090da;
    font-size: 1.4rem;
    font-weight: bold;
}
/*# sourceMappingURL=style.css.map */
